@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Beni & O'Cumber</title>

    <!-- stylsheet -->
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>

    <!-- clickable company name (returns to index page) -->
    <div class="company-header">
        <a asp-controller="Home" asp-action="Index">Beni & O'Cumber</a>
    </div>

    <!-- navbar -->
    <div class="navbar">

        <div class="nav-item">
            Men’s
            <div class="dropdown-content">
                <a href="#">Bottoms</a>
                <a href="#">Footwear</a>
                <a href="#">Outerwear</a>
            </div>
        </div>

        <div class="nav-item">
            Women’s
            <div class="dropdown-content">
                <a href="#">Bottoms</a>
                <a href="#">Footwear</a>
                <a href="#">Outerwear</a>
            </div>
        </div>

        <div class="nav-item">
            Kid’s
            <div class="dropdown-content">
                <a href="#">Bottoms</a>
                <a href="#">Footwear</a>
                <a href="#">Outerwear</a>
            </div>
        </div>

        <div class="cart">
            <a href="#">Shopping Cart</a>
        </div>
    </div>

    <!-- main -->
    <main>
        @RenderBody()
    </main>

    <!-- footer -->
    <footer>
        <a href="#">Contact Us</a>
        <a href="#">Terms of Service</a>
    </footer>

</body>
</html>
