@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>The online retail store is under construction.<br>Thanks for stopping by.</p>
</div>
