<div style="text-align:center; margin-top: 40px;">
    <h1>Welcome!</h1>

    <p style="font-size: 18px; width: 60%; margin: 20px auto;">
        Beni and O'Cumber was created by two graduates of the University
        of Florida's Warrington College of Business with a goal of providing
        fashionable, yet affordable clothing.
    </p>

    <p style="font-size: 18px; width: 60%; margin: 20px auto;">
        We offer apparel for people of all ages, ensuring everyone can
        look good and feel good!
    </p>
</div>
